In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
df = pd.read_csv("12Zarchi.csv", names=['Date','CAPE','PWater'])

In [3]:
df.head(20)

             Date    CAPE  PWater
0     01 Jan 2016    0.00    9.74
1     02 Jan 2016    0.00    9.63
2     03 Jan 2016    0.00   12.43
3     04 Jan 2016    0.00   13.21
4     05 Jan 2016    0.00   17.47
5     06 Jan 2016   56.75   16.40
6     07 Jan 2016    0.00   15.00
7     08 Jan 2016  220.86   10.71
8     09 Jan 2016    0.59    9.23
9     10 Jan 2016    0.00   10.83
10    11 Jan 2016    0.00    8.90
11    12 Jan 2016    0.00    5.38
12    13 Jan 2016    0.00    4.06
13    14 Jan 2016    0.00    6.07
14    15 Jan 2016    0.00    7.93
15    16 Jan 2016    0.00    7.42
16    17 Jan 2016    0.00   10.40
17    18 Jan 2016    0.00    5.98
18    19 Jan 2016    0.00    7.77
19    20 Jan 2016    0.00    8.66

In [4]:
df.describe()

              CAPE      PWater
count   363.000000  363.000000
mean     99.363168   17.554215
std     259.556241   11.807124
min       0.000000    2.820000
25%       0.000000    8.860000
50%       0.000000   12.880000
75%      10.485000   25.310000
max    1648.580000   52.450000

In [5]:
df.apply(lambda x: sum(x.isnull()),axis=0)

Date      0
CAPE      0
PWater    0
dtype: int64

In [6]:
df_clean = df.dropna()

In [7]:
df.describe()

              CAPE      PWater
count   363.000000  363.000000
mean     99.363168   17.554215
std     259.556241   11.807124
min       0.000000    2.820000
25%       0.000000    8.860000
50%       0.000000   12.880000
75%      10.485000   25.310000
max    1648.580000   52.450000

In [10]:
df.columns
df.apply(lambda x: sum(x.isnull()),axis=0)
df_clean = df.dropna()

In [11]:
df_clean['CAPE'].hist(bins=100)

In [12]:
df.boxplot(column='CAPE')

/Users/jessicauriarte/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning:
The default value for 'return_type' will change to 'axes' in a future release.
 To use the future behavior now, set return_type='axes'.
 To keep the previous behavior and silence this warning, set return_type='dict'.
  if __name__ == '__main__':

{'boxes': [<matplotlib.lines.Line2D at 0x11909fef0>],
 'caps': [<matplotlib.lines.Line2D at 0x1190b6c88>,
  <matplotlib.lines.Line2D at 0x1190b6e10>],
 'fliers': [<matplotlib.lines.Line2D at 0x1190bae80>],
 'means': [],
 'medians': [<matplotlib.lines.Line2D at 0x1190ba668>],
 'whiskers': [<matplotlib.lines.Line2D at 0x118e22cf8>,
  <matplotlib.lines.Line2D at 0x1190a5dd8>]}